.modal1 {
  width: fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.payment--options {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 33% 34% 33%;
  gap: 20px;
  padding: 10px;
}

.payment--options button {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
}

.payment--options button svg {
  height: 18px;
}

.payment--options button:last-child svg {
  height: 22px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8B8E98;
  margin: 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #ffcc00;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #66ccff 0%, #0099cc 50%, #003366 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #ffcc00;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_field[type=number] {
  -moz-appearance: textfield;
}














.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .yellow {
  background-color: #e2a728;
}

.cards .purple {
  background-color: #8a0f86;
}


.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: auto;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}



















/* inspired form gumroad website */
.buttonf {
  --bg: #00c2a8;
  --hover-bg: #f0a800;
  --hover-text: #000;
  color: #696969;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  
  /* Ajustes para hacer el botón flotante */
  position: fixed;
  bottom: 20px; /* Puedes ajustar la distancia desde la parte superior */
  right: 20px; /* Puedes ajustar la distancia desde el lado derecho */
  font-weight: 600;
}

.buttonf:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.buttonf:active {
  transform: translate(0);
  box-shadow: none;
}

















.container2 {
  position: relative;
  width: 250px;
 /*  choose your size */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 40%;
}

.container2 button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #313638;
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  width: 26px;
  height: 26px;
  fill: #fff;
}

.container2 button:nth-child(1):hover {
  background-color: #2753a7;
}

.container2 button:nth-child(2):hover {
  background-color: #cd242b;
}

.container2 button:nth-child(3):hover {
  background-color: #55acee;
}

.container2 button:nth-child(4):hover {
  background-color: #0274b3;
}

.title {
  color: gray;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: -35px;
  left: 0;
}















.card1 {
  position: relative;
  width: 500px;
  height: 400px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card1__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1:hover .card1__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card1__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card1__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card1:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}









/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

#uno{
background-image: url("https://scontent.fcvj1-1.fna.fbcdn.net/v/t39.30808-6/405842731_667738542229710_259733944879368881_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFLw8gmR00Y2jpwNWlsab1wrQ32f3M6d-itDfZ_czp36LN7io5GTNCJE5IVhl09-LJpdg5VQGJlIOIMhCD0FLsf&_nc_ohc=VtNvWNvB4BAAX_vozTv&_nc_oc=AQkezXLkANasNfQyFcl3LZGb-yIRCSP9bCQjwhlq02x9C4krldJs2l2U3317w5MrZmc&_nc_ht=scontent.fcvj1-1.fna&oh=00_AfBLwpNTuHprpzO8gok4-bGg4tPaBBmKatSDQTRTSTU5qw&oe=6569A26E");
background-repeat: no-repeat;
background-size: 100% auto; /* 100% de ancho y altura automática */
 /* Agregar una capa de fondo oscuro con opacidad */
 &::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del 70% */
  z-index: 1; /* Asegura que la capa de fondo esté por encima de la imagen */
}
}


#dos{
  background-image: url("https://scontent.fcvj1-1.fna.fbcdn.net/v/t39.30808-6/405893084_667739238896307_1743239513397955532_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFsCgeAU7xDOo7lcr4ff4vKM_oStYxAdWMz-hK1jEB1Yxxbgv5vSuOkjkJpRwB79BMq2JOSHB0b_h2rEC_vBdju&_nc_ohc=tDHCeAj19NUAX82LpKN&_nc_ht=scontent.fcvj1-1.fna&oh=00_AfA5sICLbu3XTl1OA-GiQyGplO9_1fQUqBMSv3xnxn4nDg&oe=656B0BE2");
  background-repeat: no-repeat;
  background-size: 100% auto; /* 100% de ancho y altura automática */
   /* Agregar una capa de fondo oscuro con opacidad */
   &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad del 70% */
    z-index: 1; /* Asegura que la capa de fondo esté por encima de la imagen */
  }
  }


  #tres{
    background-image: url("https://scontent.fcvj1-1.fna.fbcdn.net/v/t39.30808-6/404334746_667141258956105_3004887944883685027_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHBhCNs8q76TgBAwugRYekR-KSklUKYOOP4pKSVQpg444Vme-SRhBU6fHgAc2CTYGB2BtKcz5JKXPDrAVdGwwX8&_nc_ohc=ErgsDOdHYqIAX-5pMK8&_nc_ht=scontent.fcvj1-1.fna&oh=00_AfDULQBTCbvCiSrbpIQq2R0i5bWizXAAoF82dW20iCS4iQ&oe=6569EBF1");
    background-repeat: no-repeat;
    background-size: 100% auto; /* 100% de ancho y altura automática */
     /* Agregar una capa de fondo oscuro con opacidad */
     &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Opacidad del 70% */
      z-index: 1; /* Asegura que la capa de fondo esté por encima de la imagen */
    }
    }


    #img1{
      background-image: url("./tomy.jpg");
      background-repeat: no-repeat;
      background-size: 500px 500px; /* 100% de ancho y altura automática */
    }


    #img2{
      background-image: url("./apoyo.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%; /* 100% de ancho y altura automática */
    }


    #img3{
      background-image: url("./fifa.png");
      background-repeat: no-repeat;
      background-size: 100% 100%; /* 100% de ancho y altura automática */
    }
    

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 600px) {
  .container2 {
    position: relative;
    width: 250px;
   /*  choose your size */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15%;
    margin-left: 20%;
  }
  
  .container2 button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .icon {
    width: 26px;
    height: 26px;
    fill: #fff;
  }
  
  .container2 button:nth-child(1):hover {
    background-color: #2753a7;
  }
  
  .container2 button:nth-child(2):hover {
    background-color: #cd242b;
  }
  
  .container2 button:nth-child(3):hover {
    background-color: #55acee;
  }
  
  .container2 button:nth-child(4):hover {
    background-color: #0274b3;
  }
  
  .title {
    color: gray;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    top: -35px;
    left: 0;
  }

















  /* Bump up size of carousel content */

  .card1__description {
    margin: 10px 0 0;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
  }


  #img1{
    background-image: url("./tomy.jpg");
    background-size: 320px 200px; /* 100% de ancho y altura automática */

    width: 320px;
    height: 200px;
    position: relative;

    margin: 30px 30px 0 30px;

  }


  #img2{
    background-image: url("./apoyo.jpg");
    background-size: 320px 200px; /* 100% de ancho y altura automática */

    width: 320px;
    height: 200px;
    position: relative;

    margin: 30px 30px 0 30px;
  }


  #img3{
    background-image: url("./fifa.png");
    background-size: 320px 200px; /* 100% de ancho y altura automática */

    width: 320px;
    height: 200px;
    position: relative;

    margin: 30px 30px 0 30px;
  }
}


